---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

---

<Layout title="My Bucketlist page">
	<main>
		<nav class="retro-navbar">
			<a href="/">Home</a>
			<a href="/about">About</a>
			<a href="/beemovie">Bee Movie</a>
			<a href="https://sarjomaa.no" class="text-blue-500 underline">Daniel Sarjomaa</a>

		</nav>
		<h1>My Bucketlist</h1>
		<Card title="Visit the Grand Canyon" href='https://www.nps.gov/grca/index.htm' />
		<Card title="Go skydiving" href='https://www.uspa.org/' />
		<Card title="Learn to surf" href='https://www.surfline.com/' />
		<Card title="Travel to Japan" href='https://www.japan.travel/en/' />
		<Card title="Write a book" href='https://www.nanowrimo.org/' />
		<Card title="Run a marathon" href='https://www.runnersworld.com/' />
		<Card title="Learn to play the guitar" href='https://www.justinguitar.com/' />
		<Card title="Start a business" href='https://www.sba.gov/' />
		<Card title="Learn to cook" href='https://www.allrecipes.com/' />
		<Card title="Go on a road trip" href='https://www.roadtrippers.com/' />
		<Card title="Learn to code" href='https://www.codecademy.com/' />
		<Card title="Go on a cruise" href='https://www.cruisecritic.com/' />
		<Card title="Learn to dance" href='https://www.danceplug.com/' />
		<Card title="Travel to Europe" href='https://www.visiteurope.com/' />
		<Card title="Learn to paint" href='https://www.artistsnetwork.com/' />
		<Card title="Go on a safari" href='https://www.safaribookings.com/' />
		<Card title="Travel to Australia" href='https://www.australia.com/en-us' />
		<Card title="Learn to play chess" href='https://www.chess.com/' />
		<Card title="Go to a music festival" href='https://www.musicfestivalwizard.com/' />
		<Card title="Travel to New Zealand" href='https://www.newzealand.com/us/' />
		<Card title="Learn to meditate" href='https://www.headspace.com/' />
		<Card title="Go to a Broadway show" href='https://www.broadway.com/' />
		<Card title="Travel to Africa" href='https://www.africa.com/' />
		<Card title="Learn to juggle" href='https://www.jugglingedge.com/' />
		<Card title="Go to a comedy show" href='https://www.comedycentral.com/' />
		<Card title="Travel to South America" href='https://www.lonelyplanet.com/south-america' />
		<Card title="Learn to ride a motorcycle" href='https://www.msf-usa.org/' />
		<Card title="Go to a sporting event" href='https://www.espn.com/' />
		<Card title="Travel to Asia" href='https://www.traveller.com.au/asia' />
		<Card title="Learn to scuba dive" href='https://www.padi.com/' />
		<Card title="Go to a concert" href='https://www.songkick.com/' />
		<Card title="Travel to the Caribbean" href='https://www.caribbeantravel.com/' />
		<Card title="Learn to fly a plane" href='https://www.aopa.org/' />
		<Card title="Go to a museum" href='https://www.museumsofindia.org/' />
		<Card title="Travel to the Middle East" href='https://www.lonelyplanet.com/middle-east' />
		<Card title="Learn to speak a new language" href='https://www.duolingo.com/' />
		<Card title="Go to a theme park" href='https://www.themeparkinsider.com/' />
		<Card title="Travel to the South Pacific" href='https://www.southpacificislands.travel/' />
		<Card title="Learn to ride a horse" href='https://www.equestrian.org.au/' />
		<Card title="Go to a zoo" href='https://www.aza.org/' />
		<Card title="Travel to the North Pole" href='https://www.quarkexpeditions.com/arctic/north-pole' />
		<Card title="Learn to play golf" href='https://www.pga.com/' />
		<Card title="Go to a water park" href='https://www.waterparks.com/' />
		<Card title="Travel to the South Pole" href='https://www.quarkexpeditions.com/antarctica/south-pole' />
	</main>
</Layout>

<style>

.retro-navbar {
    text-align: center;
  }

  .retro-navbar a {
    font-family: 'Press Start 2P', cursive; /* Retro font */
    color: #00ff00; /* Neon green text */
    text-decoration: none;
    margin: 0 15px;
    padding: 5px 5px;
    border: 2px solid #00ff00; /* Neon green border */
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
  }

  .retro-navbar a:hover {
    background-color: #00ff00; /* Neon green background on hover */
    color: #000; /* Black text on hover */
  }
	main {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		grid-gap: 1rem;
		padding: 1rem;
	}
	h1 {
	font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 3rem;
    color: #ff00ff; /* Bright magenta */
    text-shadow: 2px 2px 0 #00ffff, 4px 4px 0 #ff00ff; /* Cyan and magenta shadows */
    text-align: center;
    margin-bottom: 2rem;
	}

</style>

